<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ISMasteryStaging</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>2.0.2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>11cfc0d520dc017aeb9e32c6ece6fc28e6df1be9</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera so that you can update your profile picture.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This allows you to securely sign into your app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you send voice messages with sound.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFCompactText-Bold.otf</string>
		<string>SFCompactText-Regular.otf</string>
		<string>SFCompactDisplay-Regular.otf</string>
		<string>Raleway-Bold-Italic-Original.otf</string>
		<string>Raleway-Bold-Original.otf</string>
		<string>Raleway-Light-Italic-Original.otf</string>
		<string>Raleway-Medium-Original.otf</string>
		<string>Raleway-Regular-Original.otf</string>
		<string>Raleway-SemiBold-Original.otf</string>
		<string>ROBOTO-BOLD.TTF</string>
		<string>ROBOTO-MEDIUM.TTF</string>
		<string>ROBOTO-REGULAR.TTF</string>
		<string>SFCompactDisplay-Semibold.otf</string>
		<string>SFCompactText-Medium.otf</string>
		<string>SFCompactText-Semibold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
